  @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
  * {
/*    box-sizing: inherit;
    -webkit-transition-property: all;*/
    /*ほわーんってなるやつ*/
/*    transition-property: all;
    -webkit-transition-duration: .6s;
            transition-duration: .6s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;*/
  }

  .buttons {
    display: table;
    height: 100%;
    width: 100%;
  }

  .container {
    display: table-cell;
    padding-top: 3%;
    margin: 2%;
    text-align: center;
    vertical-align: middle;
  }



  .btn {
    color:#fff;
    cursor: pointer;
    display: inline-block/*block*/;
    font-size: 20px;
    font-weight: normal;
    line-height: 45px;
    margin: 0.5em auto 0.5em;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
  }


    .btn-4 {
    border: 0 solid;
  /*  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);*/
    background-color: #3cb371;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .btn-4:hover {
/*    border: 1px solid;*/
    box-shadow: inset 0 0 20px rgba(32, 32, 32, 10), 0 0 20px rgba(255, 255, 255, 0);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
  }


  .btn-5 {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    border: 0 solid;
  /*  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);*/
    background-color: #ff8c00;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .btn-5:hover {
/*    border: 1px solid;*/
    box-shadow: inset 0 0 20px rgba(32, 32, 32, 10), 0 0 20px rgba(255, 255, 255, 0);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
  }

    .btn-6 {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    border: 0 solid;
  /*  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);*/
    background-color: #00bfff;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .btn-6:hover {
/*    border: 1px solid;*/
    box-shadow: inset 0 0 20px rgba(32, 32, 32, 10), 0 0 20px rgba(255, 255, 255, 0);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
  }