  /*===============================================
  ●smart.css  画面の横幅が640pxまで
  ===============================================*/
  @media screen and (max-width: 768px){
	/* リセットCSS ブラウザで強制的によみこまれる害悪CSSファイルを無効化 */	
    *{
    padding: 0;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
}

/*********  ƒwƒbƒ_[   **************/
body{
	margin: 0;
  background: linear-gradient(to bottom, #000000 0%, #D1633B 100%);
}

/**********  wrapper  **************/
#wrapper{
	margin: 0% 3% 10% 3%;
    overflow: hidden;
}
.top_img{
    text-align: center;
    background-color: rgb(50, 80, 150);
    font-size: 3.0em;
    color: #fff;
    margin-bottom: 2%;
}
.left_box{
    /*padding: 16px;*/
    margin-top: 10%;
    margin-bottom: 3%;
    text-align: center;
}
.honsai_hittei, .honsai_map, .kyugitaikai{
    width:100%;
    /*height: 180px;*/
    background-color: rgb(50, 80, 150);
    color: rgb(255, 255, 255);
    float: center;
    margin-bottom: 1px;
    margin-right: 1px;
    text-align: center;
}
.osirase{
    width:100%;
    height: 200px;
    background-color: rgb(50, 80, 150);
    color: rgb(255, 255, 255);
    /*float: left;*/
    margin-top: 1px;
    margin-right: 1px;
}

.right_box{
    background-color: rgb(50, 80, 150);
}
#linkimg{
    width: 100%;
    height: 100%;
}

/* フッター */
    #footer {
        text-align: center;
        font-size: 18px;
        font-family: "Yu Gothic UI","Meiryo UI","ƒqƒ‰ƒMƒmŠpƒS Pro W3", sans-serif;
        color: #fff;
        background-color: #2F2F2F;

        margin-top: 0;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
    }
    /* サイトマップ */
    #sitemap{
        font-family: "Yu Gothic UI","Meiryo UI","ƒqƒ‰ƒMƒmŠpƒS Pro W3", sans-serif;
        position: relative;
        padding-top: 3%;
        padding-right: 0%;
        padding-bottom: 3%;
        padding-left: 0%;
        background-color: #2F2F2F;
    }
    /* サイトマップのリンクの書式 */
    #sitemap_l{
        font-size: 18px;
        margin-bottom: 1%;
        margin-top: 1%;
        text-decoration: none;
        color: white;
        transition: 0.5s;
    }
    #sitemap_l:hover {
      color: orange;
    }

    /* サイトマップのリンク群 */
    #link{
        margin-left: 3%;
        margin-right: 3%;
    }
    /* サイトマップの見出し */
    #sitemap_h{
        font-size: 2.0em;
        color: white;
    }

    /* --- 新着情報エリア --- */
div.update {
width: 100%; /* 新着情報エリアの幅 */
font-size: 80%;
}

/* --- 見出し --- */
div.update h3 {
margin-top: 5%;
font-size: 1.5em;
text-align: center;
}

/* --- 新着リスト --- */
div.update dl {
width: 100%; /* 新着リストの幅 */
margin: 0;
border-top: 1px #c0c0c0 dotted; /* 新着リストの上境界線 */
}

/* --- 日付エリア --- */
div.update dt {
width: 6.7em; /* 日付エリアの幅 */
margin-left: 3%;
padding: 7px 0 6px 3px; /* 日付エリアのパディング（上右下左） */
line-height: 120%;
}

/* --- 本文エリア --- */
div.update dd {
margin: 0;
text-align: center;
border-bottom: 1px #c0c0c0 dotted; /* 本文エリア下境界線 */
line-height: 120%;
}

/* --- clearfix --- */
.clearFix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.clearFix {
min-height: 1px;
height: 180px;
}

/* ▽▽ハンバーガーメニュー▽▽
------------------------------------------------------- */
.hm_menu_check {/* チェックボックスを隠す */
  display: none;
}
.hm_wrap {
  display: inline-block;
  position :fixed;
  top :0;
  left :0;
  width :100%;
  padding :10px;
  z-index: 1024;
}

label{
  /*padding: 10px 10px;*/
  /*border: 2px solid #444;*/
  /*border-radius: 24px;*/
  /*background :rgba(88,82,82,0.5);*/
}

.hm_title {/* ハンバーガーメニューオープン時の見出し */
  position: relative;
  color: #fff;
  display: inline-block;
  float: left;
  font-weight: 100;
  line-height: 30px;
  margin: 0 0 0 15px;
  opacity: 0;
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  -webkit-transition: -webkit-transform 0.6s, opacity 0.5s;
  transition: transform 0.6s, opacity 0.5s;
  z-index: 5;
}

/* ▽▽メニューボタン▽▽ */
.hm_btn {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: block;
  float: left;
  z-index: 5;
}
.hm_btn::before {
  -webkit-box-shadow: #fff 0 12px 0;
  box-shadow: #fff 0 12px 0;
}
.hm_btn::after {
  bottom: 0;
}
.hm_btn::before,
.hm_btn::after {
  width: 30px;
  height: 6px;
  background: #fff;
  display: block;
  content: '';
  position: absolute;
  -webkit-transition: -webkit-box-shadow 0.2s linear, -webkit-transform 0.2s 0.2s;
  transition: box-shadow 0.2s linear, transform 0.2s 0.2s;
}
/* △△メニューボタン△△ */

.hm_menu_wrap {
  width :100%;
  height :10000px;
  background: #2F2F2F;

  /* filter:alpha(opacity=90);
  -moz-opacity: 0.9;
  opacity: 0.9; */

  position: absolute;
  left: -100%;
  top: 0;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  z-index: 4;
}

/* ▽▽開閉時のアニメーション▽▽ */
.hm_menu_check:checked ~ .hm_title {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.hm_menu_check:checked ~ .hm_btn::before {
  -webkit-box-shadow: transparent 0 0 0;
  box-shadow: transparent 0 0 0;
  -webkit-transform: rotate(45deg) translate3d(6px, 11px, 0);
  transform: rotate(45deg) translate3d(6px, 11px, 0);
}
.hm_menu_check:checked ~ .hm_btn::after {
  -webkit-transform: rotate(-45deg) translate3d(6px, -11px, 0);
  transform: rotate(-45deg) translate3d(6px, -11px, 0);
}
.hm_menu_check:checked ~ .hm_menu_wrap {
  left: 0;
}

/* △△開閉時のアニメーション△△ */

/* ▽▽メニュー内のリストスタイル▽▽ */
.hm_list {
  list-style-type: none;
  margin: 50px 0 0;
  padding: 0;
}
.hm_list li a {
  color: #fff;
  display: block;
  overflow: hidden;
  padding: 8px 22px;
  position: relative;
  text-decoration: none;
  z-index: 1;
}
.hm_list li a::before {/* aタグマウスオーバー時の背景 */
  background: #808080;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  -webkit-transition: bottom 0.4s;
  transition: bottom 0.4s;
  z-index: -1;
}

.hm_list li a:hover::before {
  bottom: 0;
}
.hm_list li a:hover::after {
  opacity: 0.5;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* メニュー内のリストスタイル△△ */

/* △△ハンバーガーメニュー△△
------------------------------------------------------- */
	  
/* PC用メニューを非表示 */
    #dropmenu{
     display:none; 
    }
    p3{
      text-align: center;
      font: 1.5em;
      background-color: rgb(50, 80, 150);
      color: #fff;
    }
  }
  p4{
    display: none;
  }

/* ロード画面の設定 */
    #loader-bg {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background: #000;
      z-index: 2048;
    }
    #loader-bg #loader {
      position: fixed;
      top: 50%;
      left: 50%;
      width: 200px;
      height: 200px;
      margin-top: -100px;
      margin-left: -100px;
      text-align: center;
      color: #fff;
      z-index: 2048;
    }

e{
        font-size: 1.0em;
        color: #FF4F02;
    }
