/*******************

テーブルのCSS

*******************/
table , td, th {
	color: black;
	border: 1px solid #aaaaaa;
	border-collapse: collapse;
	font-size: 110%;
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	margin-top:0px;
	/*background-color: white;*/
}
td, th {
	height: 50px;
	width : 25% ; /* 未対応ブラウザ用フォールバック */
  	width : -webkit-calc(100% / 4) ;
  	width : calc(100% / 4) ;
	vertical-align: middle;
}
td.a{
	color:black;
	text-decoration: none;
	width: 100%;
	text-align: center;
}
tr.top{
	font-size: 110%;
}
tr td:nth-child(1) {
	white-space: nowrap;
}
a {
    color: white;
    display: table;
    font-size: 100%;
    text-align: center;
}
a:hover{
	color:red;
}
a.zyu{
	color: black;
	width: 100%;
	text-decoration: none;
}
a.zyu:hover{
	color:black;
}
a.event{
	width: 100%;
	color: black;
	text-decoration: none;
}
a.event:hover{
	color:red;
}
a.onken{
	color:red;
	text-decoration: underline;
	font-weight: bold;
}
a.onken:hover{
	text-decoration: none;
}
/*.time{
	font-weight: bolder;
	display: inline-block;
	white-space:nowrap;
}*/
